.header {
    text-align: center;
    border: 5px solid blue;
}
.para {
    text-align: center;
    
}
.info {
    text-align: center;
    
}
.btn1 {
    text-align: center;
}
.para2 {
    text-align: center;
}